\:root {
  //transition
  --tsd: 0.25s;
  --ttf: cubic-bezier(0, 0, 1, 1);

  //radius
  --bdr: 12px;
}

//transition
$tsd: var(--tsd);
$ttf: var(--ttf);

//radius
$bdr: var(--bdr);

//border
$bor: 3px;
