:root {
  //transition
  --tsd: 0.25s;
  --ttf: cubic-bezier(0, 0, 1, 1);

  //radius
  --bdr-b: 12px;
  --bdr-n: 6px;
  --bdr-s: 4px;

  --bor: 2px;
}

//transition
$tsd: var(--tsd);
$ttf: var(--ttf);

//radius
$bdr-b: var(--bdr-b);
$bdr-n: var(--bdr-n);
$bdr-s: var(--bdr-s);

//border
$bor: var(--bor);
