:root {
  // ---- Colors ---- //

  --w: hsla(0, 0%, 100%, 1);
  --b: hsla(0, 0%, 0%, 1);

  // background
  --bgc-light-d: hsla(0, 0%, 95%, 1);
  --bgc-light-l: hsla(0, 0%, 100%, 1);

  //font
  --font-dark-d: hsla(0, 0%, 5%, 1);
  --font-dark-n: hsla(0, 0%, 20%, 1);
  --font-dark-l: hsla(0, 0%, 40%, 1);

  // palette
  --blue-dark: hsla(220, 90%, 40%, 1);
  --blue-darken: hsla(220, 90%, 60%, 1);
  --blue-normal: hsla(220, 91%, 75%, 1);
  --blue-lighten: hsla(220, 90%, 85%, 1);
  --blue-light: hsla(222, 92%, 95%, 1);
}

// ---- Colors ---- //

$w: var(--w);
$b: var(--b);

// background
$bgc-light-d: var(--bgc-light-d);
$bgc-light-l: var(--bgc-light-l);

//font
$font-dark-d: var(--font-dark-d);
$font-dark-n: var(--font-dark-n);
$font-dark-l: var(--font-dark-l);

// palette
$blue-dark: var(--blue-dark);
$blue-darken: var(--blue-darken);
$blue-normal: var(--blue-normal);
$blue-lighten: var(--blue-lighten);
$blue-light: var(--blue-light);
